asn1crypto==0.24.0
beautifulsoup4==4.6.3
bs4==0.0.1
certifi==2018.11.29
cffi==1.11.5
chardet==3.0.4
Click==7.0
cryptography==2.4.2
EasyProcess==0.2.5
et-xmlfile==1.0.1
future==0.17.1
idna==2.7
itsdangerous==1.1.0
jdcal==1.4
Jinja2==2.10
lxml==4.6.3
MarkupSafe==1.1.0
numpy==1.15.4
openpyxl==2.5.12
pandas==0.23.4
Pillow==5.3.0
pycparser==2.19
pyTelegramBotAPI==3.6.6
python-dateutil==2.7.5
python-telegram-bot==11.1.0
pytz==2018.7
PyVirtualDisplay==0.2.1
requests==2.20.1
selenium==3.141.0
six==1.11.0
urllib3==1.24.1
Werkzeug==0.14.1
xvfbwrapper==0.2.9
